<div class="container col-10">
  <div class="d-flex">
    <div class="col-8">
      <%= form_tag(tweets_path, method: "get", class: "form-inline mt-3 mr-2") do %>
        <div class="input-group">
          <%= text_field_tag(:search, params[:search], class: "form-control mr-2", placeholder: "Buscar tweets") %>
          <div class="input-group-append">
            <%= submit_tag("Buscar", class: "btn btn-primary ms-3") %>
          </div>
        </div>
      <% end %>
    </div>
          <div class="col-2 mt-3 ms-5">
        <%= link_to "Volver", tweets_path, class: "btn btn-primary" %>
      </div>
  </div>
  <div class="col-10 bg-white">
    <div class="col-10 mt-2">
      <h1>Ingresa tu Tweet</h1>
      <div>
        <%= render "form", tweet: @tweet %>
      </div>
    </div>
  </div>
</div>
